@font-face {
  font-family: "Daydream";
  src : url("Daydream.otf");
}

@font-face {
  font-family: "PixelTitle";
  src : url("visitor1.ttf")
}

@font-face {
  font-family: "PixelBody";
  src : url("rainyhearts.ttf")
}

@font-face {
  font-family: "Mieszkanie";
  src : url("mieszkanie9.otf")
}


*::selection {
  background: #91ff93;
  color: #015202;
}
*::-moz-selection {
  background: #91ff93;
  color: #015202;
}
*::-webkit-selection {
  background: #91ff93;
  color: #015202;
}

body {
  height: 100%;
  font-size: 0.875em;
  font-family: "PixelBody";
  padding: 0;
  margin: 0;
  background-image: url("img/4K_subaruDither.png");
  background-size: cover;
  background-attachment: fixed;

}

center {
  text-align: center;
}

.centered {
  vertical-align: middle;
  
}
.wrapper {
  margin: 0 auto;
  width: 870px;
  margin-top: 0px;
  padding: 10px 20px;
}

.wrapper-2 {
  position: relative;
}


.header img {
  border-top: 0px;
}

/*These three classes are just for defining the boundaries and size of the main and sidebar columns. Most fancy styling goes in the 'box' class.*/
.main, .sidebar-right {
  display: inline-block;
}
  
.sidebar-left, .sidebar-right {
  width: 175px;
  position: absolute;
  top: 0;
  }

.main {
  margin-left: 185px;
  width: 500px;
  }
  
.sidebar-right {
  margin-right: 10px;
  margin-left: 10px;
  }
  
.sidebar-left {
  margin-left: 0px;
  }
  
.wrapper, .links a {
  color: #bdffa8;
  }
  
.box {
  margin: 10px 0px 15px 0px;
  background: rgba(10, 60, 0);
  padding: 0;
}

.box a {
  color: #bdffa8;
  text-decoration: underline dotted;
}
  
/*Prevent overflow of large images in main text areas.*/
.box img {
  max-width: 100%;
  height: auto;
  }
  
.header {
  height: auto;
  font-family: "Mieszkanie";
  font-size: 26px;
  background: #2d7625;
  text-align: center;
  /* border: 1px dotted #fff;
  text-align: center;
  border-radius: 5px;*/
}


.hg {
  color: #a6ce8e;
  padding: 20px;
}

/*Container for top row of links.*/
.links {
  padding: 5px;
  padding-bottom: 5px;
  margin-top: 1em;
  }
  

.xxiivv {
  width: 3vw;
  height: auto;
}

/*Div style for individual links.*/
.link {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  float: none;
  font-weight: bold;
  font-size: 1.16em;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border: 0px solid red;
  color: #bdffa8;
  }
  
.link a {
  text-decoration: none;
  }

.footer {
  height: 100%;
  text-align: center;
  color: #bdffa8;
  }
  
.box h1, .box h2, .box h3, .box h4 {
  margin: 0;
  padding: 0.35em 0.25em 0.3em 0.5em;
  text-align: left;
  font-family: "PixelBody";
  }
  
.main .inner {
  padding: 0.25em 1em 3.8em 1em;
  font-size: 1.075em;
  background: url("img/flowerfield.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  }

.inner {
  padding: 0.25em 1em 0.3em 1em;
  font-size: 1.075em;
  }

.projects {
  padding: 0em 1em 0.3em 0em;
  font-size: 1.075em;
}

.changelog {
  padding: 0em 0em 0.3em 1em;
  font-size: 1.075em;
  }

.cl_list {
  list-style-image: url("img/bullet_green.png");
}

.about {
  list-style-position: outside;
  list-style-image: url("img/bullet_green.png");
  padding-left: 10px;
}
  
/* For narrow screens: slightly narrows sidebars, and makes the width
 * of the main/center div flexible (sized relative to viewport width.)
 */
@media(max-width:880px) {
  .wrapper {
    width: calc(340px + 50vw);
    }
  .sidebar-left, .sidebar-right {
    width: 160px;
    }
  .main {
    width: 50vw;
    margin-left: 170px;
    }
  }


/*Mobile compatibility. Just turns it all into a vertical layout.*/  
@media(orientation:portrait) {
  .wrapper {
    width: 96vw;
    margin: 0 auto;
    padding:0;
    position: relative;
    }
  .wrapper-2 {
    width: 94vw;
    margin: 0 auto;
    padding:0;
    position: relative;
    }
  .sidebar-left, .main, .sidebar-right {
    position: relative;
    width: 92vw;
    margin: 0.25rem 1vw;
    }
  .sidebar-left, .sidebar-right {
    font-size: 0.95em;
    }
  }

.centeredBlock {
  display: flex;
  justify-content: center;
}

.bStack {
  padding-bottom: 0.5vw;
}

.bStackF {
  padding-top: 1.5vw;
  padding-bottom: 1vw;
}
